In [2]:
# Para obtener los datos vamos a utilizar pandas_datareader (https://pandas-datareader.readthedocs.io/)
from pandas_datareader import data

ModuleNotFoundError: No module named 'pandas_datareader'

In [29]:
# Definimos tickers en los cuales estamos interesados
# '^GSPC' == S&P 500
ticker = ['^GSPC']

# Definimos el rango de fechas deseado
start_date = '2020-1-1'
end_date = '2020-12-31'

# Obtenemos un DataFrame
df = data.DataReader(
    tickers, 
    start=start_date, 
    end=end_date, 
    data_source='yahoo'
)

In [38]:
df

Attributes    Adj Close        Close  ...         Open      Volume
Symbols           ^GSPC        ^GSPC  ...        ^GSPC       ^GSPC
Date                                  ...
2020-01-02  3257.850098  3257.850098  ...  3244.669922  3458250000
2020-01-03  3234.850098  3234.850098  ...  3226.360107  3461290000
2020-01-06  3246.280029  3246.280029  ...  3217.550049  3674070000
2020-01-07  3237.179932  3237.179932  ...  3241.860107  3420380000
2020-01-08  3253.050049  3253.050049  ...  3238.590088  3720890000
...                 ...          ...  ...          ...         ...
2020-12-24  3703.060059  3703.060059  ...  3694.030029  1885090000
2020-12-28  3735.360107  3735.360107  ...  3723.030029  3527460000
2020-12-29  3727.040039  3727.040039  ...  3750.010010  3387030000
2020-12-30  3732.040039  3732.040039  ...  3736.189941  3145200000
2020-12-31  3756.070068  3756.070068  ...  3733.270020  3172510000

[253 rows x 6 columns]